body {
    font-family: Arial, Helvetica, sans-serif;
}

.Personal_details {
    display: flex;
    justify-content: center;
}

.Form-Parent {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    flex-direction: column;
    align-items: center;
}

.line {
    width: 100%;
    border-bottom: 3px solid rgba(18, 18, 18, 0.29);
}

.PersonalInputs {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 4rem;
    padding-top: 3rem;
}

.PersonalInputs input {
    width: 40%;
    border: 2px solid rgba(0, 0, 0, 0.388);
}

.Next_button {
    margin-right: 36%;
    background-color: mediumaquamarine;
    font-weight: 700;
}

.Education_details {
    display: flex;
    justify-content: center;
}

.EducationInputs {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    padding-top: 3rem;
}

.EducationInputs input {
    width: 30%;
}

.EducationInputs span {
    width: 30%;
}

.EduationSpan {
    display: flex;
    gap: 0.5rem;
}

.Education_Form-Parent {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
    flex-direction: column;
    align-items: center;
}

.EduButtons {
    width: 50%;
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
}

.Prev_button {
    background-color: red;
    font-weight: 700;
    display: flex;
    align-items: center;

}
.EduNext_button {
    background-color: mediumaquamarine;
    font-weight: 700;
}

.ClgEducation {
    position: relative;
    top: 2%;
    right: 4.5%;
}

.GlobeWebsite {
    position: absolute;
    top: 43.5%;
    right: 56%;
}

.Linkedin {
    position: absolute;
    top: 56.5%;
    right: 56%;
}

.instagram {
    position: absolute;
    top: 69%;
    right: 56%;
}

.Phone {
    position: absolute;
    top: 31%;
    right: 13.5%;
}

.Github {
    position: absolute;
    top: 43.5%;
    right: 13.5%;
}

.Email {
    position: absolute;
    top: 31%;
    right: 56%;
}

.ExperienceInputs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    padding-top: 3rem;
}

.School{
    position: absolute;
    top: 27%;
    left: 30%;
}
.School2{
    position: absolute;
    top: 57%;
    left: 30%;
}
.Duration{
    position: absolute;
    top: 27%;
    right: 6%;

}
.Duration2{
    position: absolute;
    top: 57%;
    right: 6%;
}
.MoreAboutYou{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:start;
    gap: 2rem;
    margin-top: 1rem;
    padding-left: 1rem;
}
.ExtraInputs{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    margin-top: 1rem;

}
.SkillDivs{
        display: flex;
        justify-content: space-around;
        width: 20%;
}
.ExtraButtons{
    width: 50%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}
.Photo{
    margin-left:6rem;
}
.Photo::before{
content:"Your Photo:";
position:absolute;
left:1%;
font-weight: 700;

}
